body{
font-family:Roboto;
text-align:center;
}

/* Standard Animation */

h1{

animation:bounce 2s infinite;

}

@keyframes bounce{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0px);
}

}

/* Custom animation object */

#box{

width:100px;
height:100px;

background:red;

position:relative;

margin:auto;

}